.header .name {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

.recipe-card {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.recipe-card .thumbnail {
  width: 100%;
  max-width: 500px;
}

.time-container {
  font-size: 16px;
  height: 40px;
}

.time-label,
.time-value {
  display: inline-block;
  padding: 5px 10px;
}
